:root {
  --black: #191826;
  --white: #fcfaf9;
  --blue: #66e2dc;
  --orange: #fa7453;
  --yellow: #ffb964;
  --w-desktop: $w-desktop;
  --w-tablet: $w-tablet;
  --w-mobile: $w-mobile;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}

* {
  border: 0;
}

a {
  text-decoration: none;
}

.responsive {
  width: 100%;
  height: auto;
}

header {
  margin-bottom: 4.6875rem;
}

#memberships {
  background-image: url(img/bg-pattern-3.svg);
  margin-top: 150px;
}
#memberships .container {
  display: flex;
  background-color: var(--black);
  flex-direction: column;
}
@media (min-width: 48rem) {
  #memberships .container {
    flex-direction: row;
    margin-bottom: 300px;
  }
}
@media (max-width: 48rem) {
  #memberships .container {
    padding: 0;
    width: 100%;
  }
}
#memberships .container .picture-wrap {
  height: 430px;
  left: 100px;
  position: absolute;
  top: -141px;
  width: 208px;
}
#memberships .illustration {
  background-image: url(img/bg-pattern-2.svg);
  background-position-x: 25px;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  min-height: 420px;
}
@media (min-width: 48rem) {
  #memberships .illustration {
    background-position-x: 230px;
    background-position-y: -50px;
  }
}
#memberships .membership-item {
  position: relative;
}
#memberships .membership-content {
  background-color: var(--orange);
  border-radius: 12px;
  bottom: -10px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: relative;
  padding: 25px;
  color: var(--white);
}
@media (min-width: 48rem) {
  #memberships .membership-content {
    position: absolute;
    right: 0;
    top: 100px;
    min-width: 400px;
    min-height: 400px;
    height: 481px;
  }
}
#memberships .membership-content h2 {
  color: var(--white);
}
@media (min-width: 48rem) {
  #memberships .membership-content {
    max-width: 400px;
  }
}
#memberships .membership-content .price strong {
  font-weight: 700;
  font-size: 65px;
  line-height: 52px;
}
#memberships .membership-content .price span {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.2px;
}
#memberships .membership-content .btn {
  height: 61px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.18px;
}
#memberships .membership-content .btn i {
  margin-right: 15px;
}
#memberships .membership-content .btn.apple {
  background-color: var(--black);
  color: var(--white);
}
#memberships .membership-content .btn.apple:hover {
  background-color: var(--blue);
  color: var(--black);
  cursor: pointer;
}
#memberships .membership-content .btn.android:hover {
  background-color: var(--yellow);
  cursor: pointer;
}

@media (min-width: 69.375rem) {
  #hero {
    margin-bottom: 200px;
  }
}
@media (min-width: 48rem) {
  #hero p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
}
@media (min-width: 69.375rem) {
  #hero p {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
  }
}
@media (min-width: 48rem) {
  #hero .container div {
    max-width: calc(100% - 312px);
  }
}
@media (min-width: 69.375rem) {
  #hero .container div {
    max-width: 800px;
  }
}
@media (min-width: 48rem) {
  #hero h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.727273px;
  }
}
@media (min-width: 69.375rem) {
  #hero h1 {
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
  }
}
#hero h1,
#hero p {
  margin-bottom: 40px;
}

body {
  background-image: url(img/bg-main-mobile.png);
  background-position-x: right -200px;
  background-position-y: top -199px;
  background-repeat: no-repeat;
  background-color: var(--white);
  padding-top: 75px;
  font-size: 1.25rem;
  font-family: "IBM Plex Sans";
  font-style: normal;
  color: var(--black);
}
@media (min-width: 48rem) {
  body {
    background: url(img/bg-main-tablet.png) left -300px top -200px, url(img/bg-pattern-1.svg) right 0;
    background-repeat: no-repeat;
  }
}

ul {
  display: flex;
  gap: 20px;
}

h1,
h2 {
  color: var(--black);
  font-weight: 700;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.454545px;
}

h2 {
  font-size: 2.5rem;
  line-height: 3.25rem;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

footer {
  margin-top: 50px;
  margin-bottom: 50px;
}
footer .container {
  display: flex;
  flex-direction: column;
  gap: 65px;
}
@media (min-width: 48rem) {
  footer .container ul {
    flex: 1;
    justify-content: flex-end;
  }
}
@media (min-width: 48rem) {
  footer .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  footer .container p {
    width: 366px;
  }
}
@media (min-width: 69.375rem) {
  footer .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  footer .container div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}
@media (min-width: 69.375rem) {
  footer .container {
    flex-wrap: nowrap;
  }
}
footer .container .logo {
  width: 160px;
}
@media (min-width: 48rem) {
  footer .container .logo {
    width: 48rem;
  }
}
@media (min-width: 69.375rem) {
  footer .container .logo {
    max-width: 150px;
  }
}
footer .container p {
  font-size: 1rem;
  line-height: 1.625rem;
}
footer .container p a {
  font-weight: 700;
  color: var(--black);
}
@media (min-width: 48rem) {
  footer .container .logo {
    padding-right: 124px;
  }
}

/*# sourceMappingURL=build.css.map */
